<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Main config-->
    <add key="SiteURL" value="https://pensionsversicherung.vemap.com/home/bekannt/"/>
    <add key="TableClass" value="bekannt_liste"/>
    <add key="KeyWords" value="ambu;reha"/>
    <!--Email config-->
    <add key="FromMail" value="ausschreibungmelder@gmail.com"/>
    <add key="FromMailPassword" value="n9vB2VCd"/>
    <add key="FromMailDisplayName" value="Ausschreibung-Melder"/>
    <add key="FromSubject" value="Auschreibung(en) gefunden"/>
    <add key="FromHost" value="smtp.gmail.com"/>
    <add key="FromPort" value="587"/>
    <add key="FromEnableSsl" value="true"/>
    <add key="ToMail" value="a.urban1985@gmail.com"/>
    <add key="ErrorMails" value="a.urban1985@gmail.com"/>
    <!--<add key="ToMail" value="buero@kern-reha.at"/>
    <add key="ErrorMails" value="samantha.urban@kern-reha.at;stefan.loefler@kern-reha.at"/>-->
    <add key="ErrorMailSubject" value="Problem bei Auschreibungsfinder!"/>
  </appSettings>
</configuration>